<div class=heads>
    <h1>MIRACLE EMPLOYEE TABLES</h1>
</div>
<div >
    <a value="Humanresource" class="button" (click)="btnClick('HR')">Humanresource</a>
    <a value="Teamleads" class="button" (click)="btnClick('teamleads')">Teamleads</a>
    <a value="Resources" class="button" (click)="btnClick('resources')">Resources</a>
    <a value="Calculator" class="button" (click)="btnClick('calculator')">Calculator</a>
    <a value="Resources" class="button" (click)="btnClick('formdatacollect')">Form data collector</a>
    <a value="Resources" class="button" (click)="btnClick('resources')">SQL operations</a>
    <a value="Resources" class="button" (click)="btnClick('resources')">Authentication</a>
</div>
<div>
    <router-outlet></router-outlet>
</div>